@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans Mono', serif;
}
h1{
  padding-top: 4em;
}
p{
  margin: 2em 0;
}


